* {
    font-family: "Amatic SC", cursive;
  }

.btn-outline-danger {
    background-color: black;
}

  body {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61uFNO1OkzL._AC_SL1000_.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  #home-page {
    text-align: center;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  h1 {
    font-size: 90px;
  } 
  h2{
    text-align:center;
    color:white;
  }
  p {
    font-size: 40px;
  }
  button {
    height: 50px;
    width: 150px;
  }
  #user-page {
    text-align: center;
  }
  #game-page {
    text-align: center;
    margin-top: 40px;
  }
  #saved-page {
    text-align: center;
    margin-top: 40px;
  }
  .button5 {
    border-radius: 50%;
  }
  #new-button,
  #flee-button {
    background-color: #e7a34b;
  }
  #new-button:hover,
  #flee-button:hover {
    box-shadow: 0px 0px 1px 8px orange;
  }
  #play-button,
  #yes-button {
    background-color: #46d246;
  }
  #play-button:hover,
  #yes-button:hover {
    box-shadow: 0px 0px 1px 8px #00cc00;
  }
  .sendBtn:hover {
    box-shadow: 0px 0px 1px 8px #1a1aff;
  }
  #dungeon-date {
    color:white;
    background: rgba(0,0,0,0.5);
  }
  #user-stats {
    background: rgba(0, 0, 0, 0.5);
    float: none;
    margin: auto;
    color: white;
    font-size: 25px;
  }
  #wizards-in-party,
  #wizards-for-later{
    font-size: 25px;
    text-align:center;
  }